#### **S&P 500 daily data**
Load daily data for the S&P 500 index from yahoo

In [6]:
ticker_list = ['^GSPC'] # '^GSPC' represents S&P500, like 'AAPL' represents Apple Inc.
name_list = ['S&P500']
start_date = '2001-01-01'
end_date = '2024-01-01'
ohlc_data = 'Adj Close'

In [7]:
# Need to install yfinance and pandas-datareader
%pip install yfinance
%pip install pandas-datareader

Requirement already satisfied: yfinance in /Users/Roc/opt/anaconda3/envs/pytorch/lib/python3.9/site-packages (0.2.37)
Requirement already satisfied: pandas>=1.3.0 in /Users/Roc/opt/anaconda3/envs/pytorch/lib/python3.9/site-packages (from yfinance) (2.1.3)
Requirement already satisfied: numpy>=1.16.5 in /Users/Roc/opt/anaconda3/envs/pytorch/lib/python3.9/site-packages (from yfinance) (1.25.2)
Requirement already satisfied: requests>=2.31 in /Users/Roc/opt/anaconda3/envs/pytorch/lib/python3.9/site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in /Users/Roc/opt/anaconda3/envs/pytorch/lib/python3.9/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /Users/Roc/opt/anaconda3/envs/pytorch/lib/python3.9/site-packages (from yfinance) (4.9.2)
Requirement already satisfied: appdirs>=1.4.4 in /Users/Roc/opt/anaconda3/envs/pytorch/lib/python3.9/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /Users/Roc/opt/anaconda3/envs/pytorch/lib/python3.9/site-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in /Users/Roc/opt/anaconda3/envs/pytorch/lib/python3.9/site-packages (from yfinance) (2.4.0)
Requirement already satisfied: peewee>=3.16.2 in /Users/Roc/opt/anaconda3/envs/pytorch/lib/python3.9/site-packages (from yfinance) (3.17.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /Users/Roc/opt/anaconda3/envs/pytorch/lib/python3.9/site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in /Users/Roc/opt/anaconda3/envs/pytorch/lib/python3.9/site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /Users/Roc/opt/anaconda3/envs/pytorch/lib/python3.9/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: six>=1.9 in /Users/Roc/opt/anaconda3/envs/pytorch/lib/python3.9/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /Users/Roc/opt/anaconda3/envs/pytorch/lib/python3.9/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/Roc/opt/anaconda3/envs/pytorch/lib/python3.9/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /Users/Roc/opt/anaconda3/envs/pytorch/lib/python3.9/site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/Roc/opt/anaconda3/envs/pytorch/lib/python3.9/site-packages (from requests>=2.31->yfinance) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /Users/Roc/opt/anaconda3/envs/pytorch/lib/python3.9/site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/Roc/opt/anaconda3/envs/pytorch/lib/python3.9/site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/Roc/opt/anaconda3/envs/pytorch/lib/python3.9/site-packages (from requests>=2.31->yfinance) (2023.7.22)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas-datareader in /Users/Roc/opt/anaconda3/envs/pytorch/lib/python3.9/site-packages (0.10.0)
Requirement already satisfied: lxml in /Users/Roc/opt/anaconda3/envs/pytorch/lib/python3.9/site-packages (from pandas-datareader) (4.9.2)
Requirement already satisfied: pandas>=0.23 in /Users/Roc/opt/anaconda3/envs/pytorch/lib/python3.9/site-packages (from pandas-datareader) (2.1.3)
Requirement already satisfied: requests>=2.19.0 in /Users/Roc/opt/anaconda3/envs/pytorch/lib/python3.9/site-packages (from pandas-datareader) (2.31.0)
Requirement already satisfied: numpy<2,>=1.22.4 in /Users/Roc/opt/anaconda3/envs/pytorch/lib/python3.9/site-packages (from pandas>=0.23->pandas-datareader) (1.25.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/Roc/opt/anaconda3/envs/pytorch/lib/python3.9/site-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/Roc/opt/anaconda3/envs/pytorch/lib/python3.9/site-packages (from pandas>=0.23->pandas-datareader) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/Roc/opt/anaconda3/envs/pytorch/lib/python3.9/site-packages (from pandas>=0.23->pandas-datareader) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/Roc/opt/anaconda3/envs/pytorch/lib/python3.9/site-packages (from requests>=2.19.0->pandas-datareader) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /Users/Roc/opt/anaconda3/envs/pytorch/lib/python3.9/site-packages (from requests>=2.19.0->pandas-datareader) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/Roc/opt/anaconda3/envs/pytorch/lib/python3.9/site-packages (from requests>=2.19.0->pandas-datareader) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/Roc/opt/anaconda3/envs/pytorch/lib/python3.9/site-packages (from requests>=2.19.0->pandas-datareader) (2023.7.22)
Requirement already satisfied: six>=1.5 in /Users/Roc/opt/anaconda3/envs/pytorch/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas>=0.23->pandas-datareader) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [16]:
import numpy as np
import pandas as pd
from pandas_datareader import data
import math

import yfinance as yf
yf.pdr_override()

In [14]:
# Getting the S&P500 data
sp = data.get_data_yahoo(ticker_list[0], start=start_date, end=end_date)

[*********************100%%**********************]  1 of 1 completed

In [15]:
sp

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2001-01-02,1320.280029,1320.280029,1276.050049,1283.270020,1283.270020,1129400000
2001-01-03,1283.270020,1347.760010,1274.619995,1347.560059,1347.560059,1880700000
2001-01-04,1347.560059,1350.239990,1329.140015,1333.339966,1333.339966,2131000000
2001-01-05,1333.339966,1334.770020,1294.949951,1298.349976,1298.349976,1430800000
2001-01-08,1298.349976,1298.349976,1276.290039,1295.859985,1295.859985,1115500000
...,...,...,...,...,...,...
2023-12-22,4753.919922,4772.939941,4736.770020,4754.629883,4754.629883,3046770000
2023-12-26,4758.859863,4784.720215,4758.450195,4774.750000,4774.750000,2513910000
2023-12-27,4773.450195,4785.390137,4768.899902,4781.580078,4781.580078,2748450000
2023-12-28,4786.439941,4793.299805,4780.979980,4783.350098,4783.350098,2698860000
2023-12-29,4782.879883,4788.430176,4751.990234,4769.830078,4769.830078,3126060000

In [23]:
# This function downloads the closed price data for the S&P500 index for creating log returns
def download_data(start_date, end_date, ticker_list, name_list):
  """
  Function to enter start and end date for specific security data 

  :param start_date: 'dd-mm-yyyy', string
  :param end_date: 'dd-mm-yyyy', string
  :param ticker_list: list containing yahoo ticker codes as strings
  :param name_list: list containing ticker names as strings

  :return: dataframe of all adjusted closing prices
  """

  closing_data = pd.DataFrame()
  a = 0 

  for name in name_list: 
      closing_data[name_list[a]] = data.get_data_yahoo(ticker_list[a], start=start_date, end=end_date)[ohlc_data]
      a += 1 
      
  return closing_data.fillna(method='ffill')

In [25]:
# Creating log returns for the S&P500 index
def f_log_return(data):
    tmp = np.asarray(data)
    lst = [0]
    for i in range(1,len(data)):
        lst.append(math.log(tmp[i]/tmp[i-1])*100)   
    data["Log Returns"] = lst
    return data

In [26]:
# Get Log Returns and store in dataframes
prices_returns = download_data(start_date, end_date, ticker_list, name_list)
f_log_return(prices_returns)

[*********************100%%**********************]  1 of 1 completed
/var/folders/zx/2gplsjl12rq_36ps6y7k183r0000gn/T/ipykernel_20565/2652865089.py:21: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  return closing_data.fillna(method='ffill')
/var/folders/zx/2gplsjl12rq_36ps6y7k183r0000gn/T/ipykernel_20565/2047306739.py:6: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  lst.append(math.log(tmp[i]/tmp[i-1])*100)

                 S&P500  Log Returns
Date
2001-01-02  1283.270020     0.000000
2001-01-03  1347.560059     4.888407
2001-01-04  1333.339966    -1.060855
2001-01-05  1298.349976    -2.659284
2001-01-08  1295.859985    -0.191965
...                 ...          ...
2023-12-22  4754.629883     0.165868
2023-12-26  4774.750000     0.422276
2023-12-27  4781.580078     0.142944
2023-12-28  4783.350098     0.037011
2023-12-29  4769.830078    -0.283048

[5785 rows x 2 columns]

In [27]:
prices_returns

                 S&P500  Log Returns
Date
2001-01-02  1283.270020     0.000000
2001-01-03  1347.560059     4.888407
2001-01-04  1333.339966    -1.060855
2001-01-05  1298.349976    -2.659284
2001-01-08  1295.859985    -0.191965
...                 ...          ...
2023-12-22  4754.629883     0.165868
2023-12-26  4774.750000     0.422276
2023-12-27  4781.580078     0.142944
2023-12-28  4783.350098     0.037011
2023-12-29  4769.830078    -0.283048

[5785 rows x 2 columns]